body {
  background-color: #E34444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -500px; /* Default margin-bottom */
}

.heading {
  font-family: 'Poppins';
  font-size: 120px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-weight: bolder;
  margin-top: 415px;
}

.heading2 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 20px;
}

.sub-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  margin-top: -50px;
}

.birthday-date {
  font-family: 'Poppins', sans-serif;
  font-size: 33px;
  font-weight: bold;
  margin-top: -80px;
  color: #FFFFFF;
  text-align: center;
}

.button {
  background-color: #DBB11D;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-size: 30px;
  border: none;
  border-radius: 25px;
  width: 542px;
  height: 106px;
  cursor: pointer;
  font-weight: bold;
}


@media (min-width: 720px) and (min-height: 1612px) {
  .container {
    margin-bottom: 470px;
  }

  .heading {
    font-family: 'Poppins';
    font-size: 210px;
    color: #ffffff;
    text-align: center;
    margin-bottom: -421px;
    font-weight: 1500;
}

  .video-container {
    width: 100%;
    max-width: 833px;
    height: auto;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 418px;
  }

  .heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    color: #ffffff;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  .sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    color: #ffffff;
    text-align: center;
    margin-top: -92px;
  }

  .birthday-date {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: -179px;
    color: #FFFFFF;
    text-align: center;
  }

  .button {
    font-size: 50px;
  }
}

@media (min-width: 1080px) and (min-height: 1920px) {
  .container {
    margin-bottom: 170px;
  }
}
